.icon-48-openerpconfigs {
      background-image: url(../images/l_openerpconfigs.png);
      padding-left:60px!important;
}

.icon-48-openerpconfig {
      background-image: url(../images/l_openerpconfigs.png);
      padding-left:60px!important;
}

