@(helloForm: Form[Application.Login])

@import helper._

@main(title = "Sync Mail") {
    <div align="right"><a href="/logout"><button>Logout</button></a></div>
     <div align="right"><a href="/editUser"><button>Edit User</button></a></div>
    <center><h3>Sync Mail </h3></center> 

<form method="post" action="@routes.Application.addemail()">
<h4>Email Id :</h4>
  <input type="email" name="email" size="30" /><br/>
  <h4>Password :</h4>
  
  <input type="password" name="password" size="30" /><br/>

  <input type="submit" value="Add" />
</form>

   <a href="/emails" ><button>Show Detials</button></a> 
}