@(users: List[EmailList])


@main("Sync Mail") {

 <div align="right"><a href="/logout"><button>Logout</button></a></div>
     <div align="right"><a href="/editUser"><button>Edit User</button></a></div>
     
     @if(users.size == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
	
    <table class="table">
        <thead>
            <tr>
                <th class="header">Email Id</th>
             
               
                 <th class="header">Edit/ Delete</th>
            </tr>
        </thead>
        <tbody>
      @for(user <- users){
  

            <tr>
                <td>
                	@user.getVisdomemailid
               	</td>
                
               	
               	
               	<td>
                	 <a href="/edit?key=@user.getKey">Edit</a>
                	  <a href="/delete/@user.getKey">Delete</a>
               	</td>
            </tr>
        }
        </tbody>
    </table>
    
    }
    
    <p class="buttons">
        <a href="/back">Back to the form</a>
    </p>
    
}