.doc-content{
	width:100%;
	height:100%;
}
.top-content {
    width: auto;
    margin: 0 auto;
	padding: 10px;
}
.top-content label {
margin-right: 2%;
}
.top-content-span1 {
    width: 30%;
    display: inline-block;
}
.top-content-span2 {
	width:69%;
    display: inline-block;
}
.bottom-content-span1 {
    width: 55%;
    height: 90%;
	display: inline-block;
}
.doc-pdf {
    min-height: 100%;
    height: auto;
    width: 100%;
}
.doc-pdf embed {
    width: 100%;
    height: 600px;    
}
.bottom-content-span2 {
    display: inline-block;
    width: 40%;
	vertical-align: top;
	border:2px solid rgb(153, 0, 255);
	margin:0 1% 1%;
	padding:0 1% 1%;
}
.bottom-content-span2 .content .blank {
width: 49%;
display: inline-block;
}
.bottom-content-span2 .content label.title {
width: 100%;
font-weight: bold;
}
.bottom-content-span2 .content label {
    display: inline-block;
    width: 49%;
	margin-right: 1%;
    vertical-align: top;
}
.bottom-content-span2 .applicant {
    display: inline-block;
    width: 15%;
	vertical-align: top;
}
.bottom-content-span2 .field .applicant input[type="text"] {
    margin: 2px auto;
    width: 80%;
	display: block;
	background-color:#f3f3f3;
}
.bottom-content-span2 .content {
margin-bottom: 10px;
}
button{
	width:auto;
	display:inline-block;
	margin-right:1%;
	border: 2px solid #1B4587;
	padding: 0.5% 4%;
	border-radius: 10px;
	margin: 0 10px;
	font-size: 18px;
	background-color: #9FC5E7;
}
.bottom-content-span2 .content button{
	width:40%;
	display:inline-block;
	margin-right:1%;
	border: 2px solid #1B4587;
	padding: 1% 4%;
	border-radius: 10px;
	margin: 0 10px;
	font-size: 18px;
	background-color: #9FC5E7;
}
.bottom-content-span2 .content input[type="submit"]{
	width:40%;
	display:inline-block;
	margin-right:1%;
	border: 2px solid #1B4587;
	padding: 1% 4%;
	border-radius: 10px;
	margin: 0 10px;
	font-size: 18px;
	background-color: #9FC5E7;
}