@(message: String)


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Thank You</title>

<link rel="shortcut icon" href="@routes.Assets.at("_resources/favicon.ico")">

<!-- <script src="_resources/jquery.maskedinput.min.js" type="text/javascript"></script>
 -->
<link rel="stylesheet" href="@routes.Assets.at("_resources/bootstrap.min.css")">
<script src=@routes.Assets.at("_resources/bootstrap.min.js")"></script>
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("_resources/background.css")">
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("_resources/forms.css")">
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("_resources/template.css")">


</head>
<body>


	<div style="padding-bottom: 20px; margin-top: 20px; padding-left: 40%">
		<img alt="Visdom Logo" height="90" width="260"
			src="@routes.Assets.at("_resources/visdom-logo.png")" />


	</div>
	<div class="container-fluid">

	<div class="row"></div>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-7 container-bg text-color-blue">
			<div style="padding-top: 50px"></div>
			<div style="padding-top: 50px"></div>


			<div align="center">@message</div>



			<div style="padding-bottom: 50px;"></div>
		</div>
		<div class="col-sm-3"></div>
	</div>
	</div>
	<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<br>
<br>
<br>
<br>
<br>



	















</body>
</html>


