@(referralId: String,leadfName:String,leadlname:String,leadphone:String,leadEmail:String,reffname:String,reflname:String,refEmail:String,prefname:String,prelname:String,preemail:String)


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "htts://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="shortcut icon" href="@routes.Assets.at("_resources/favicon.ico")">

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Visdom Referral </title>


  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<!--  <script src="htts://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 -->   <script src="@routes.Assets.at("_resources/jquery-2.1.4.min.js")"></script>
    <script src="@routes.Assets.at("_resources/jquery.geocomplete.js")"></script>
    <script>
      $(function(){
        $("#geocomplete").geocomplete({
          map: ".map_canvas",
          details: "form",
          types: ["geocode", "establishment"],
        });

        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
        });
      });
    </script>

<!-- <script src="_resources/jquery.maskedinput.min.js" type="text/javascript"></script>
 -->  <link rel="stylesheet" href="@routes.Assets.at("_resources/bootstrap.min.css")">
  <script src=@routes.Assets.at("_resources/bootstrap.min.js")"></script>  
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("_resources/background.css")">
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("_resources/forms.css")">
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("_resources/template.css")">
 <style type="text/css">

 #overlay{ 
	display: none;
	position: fixed;
	background: threedhighlight;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;

} 

#loading{ 
	padding: 10px 10px 10px 60px; 
		position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color:threedhighlight;
    opacity: 0.6;
    filter: alpha(opacity=60); */
}

</style> 







  
  </head>
<body>


  <div id="loading" style="display: none" align="center" >
 
  
     <img src="@routes.Assets.at("/images/preloader-image.gif")" alt="" />
  
  </div>  

 <div style="padding-bottom:20px; margin-top:20px;padding-left: 45%">
                		<img alt="Visdom Logo" height="90" width="260"  src="@routes.Assets.at("_resources/visdom-logo.png")" />
              
              
                	</div>
                
  <div class="container-fluid" >
  
  
  
<form name="myForm"  
   action="/leadcreation" method="post"  onsubmit="return validateForm()" >
  <div class="row"></div>
            <div class="row">
            	<div class="col-sm-3"></div>
            	<div class="col-sm-7 container-bg text-color-blue" >
            	            	<div style="padding-top: 50px"></div><br>
             <div align="center" style="height: 100%;width: 100%">
<iframe src="//fast.wistia.net/embed/iframe/x74841vuxw?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js"></script>
<br>
<br>
</div>   
            		 <div><font size="3">
Please complete the information below to submit a referral to Visdom.  You will receive an email confirming when an application for financing has been sent to your referral.
  </font>
  </div>
  <br>
  <div align="center">
  <font style="font-family: sans-serif;font-weight: bold;"size="5">Referral Information</font>
  </div>
  <br>
     <br>   
    
 <input type="hidden" name="ip" value="" id="details">	
            
       <input type="hidden" value="@referralId" name="referralId">
       <div class="form-group" style="width: 280px">
  <label for="usr"> <font size="4"> Client's First Name </font><span style="color: red;font-size: 3 ">*</span></label>
  <input type="text" id="fname" name="fname" class="form-control"  required>
  <div id="fname1"><font color="red">@leadfName</font> </div>

</div>
<br>     	
            <div class="form-group" style="width: 280px">
  <label for="pwd"><font size="4">Client's Last Name</font> <span style="color: red;font-size: 3 ">*</span> </label>
  <input type="text"  id="lname"  name="lname" class="form-control" required>
    <div id="lname1"><font color="red">@leadlname</font></div>
  
</div>
<br>

<div class="form-group" style="width: 280px"  title="This is the text of the tooltip">
  <label ><font size="4">Client's Phone Number </font> <span style="color: red;font-size: 3 ">*</span> </label>

       
            <input type="tel" class="form-control" name="phone" id="phonedatata"   data-toggle="tooltip" data-placement="right" title="Please provide a mobile number so we can better assist your referral by phone if required."  required/>
           <div id="phone1"><font color="red">@leadphone</font></div>
       
</div>
<br>
            
       
       
       
<div class="form-group" style="width: 280px">
  <label for="pwd"><font size="4">Client's Email </font> <span style="color: red;font-size: 3 ">*</span> </label>
  <input type="email" id="email" name="email"  class="form-control" placeholder="Ex: myemail@@example.com"   data-toggle="tooltip"  data-placement="right" title="All communication occurs by email with your referral including the initial private mortgage application. Please double check email address for accuracy." required>
           <div id="email1"><font color="red">@leadEmail</font> </div>

</div>
      
      <div class="form-group" style="width: 280px">
  <input type="email" id="email2" name="email2"  class="form-control" placeholder="Confirm Email" required>
  <div id="error"> </div>
</div>
<br>
<div class="form-group" style="width: 60%;height: 50%">
 <label for="pwd"><font size="4">Property Address being financed (if known)</font> <span style="color: red;font-size: 3 "></span> </label>
  </div>
  <div class="map_canvas"></div>
<div class="form-group" style="width: 280px;">
 
<input id="geocomplete"   type="text" name="formatted_address" placeholder="Type in an address" style="width:100%;height: 70%"  />
    
 
      </div>


<br>

<div><font size="3">
In order to ensure we are able to correctly compensate you for the above referral please provide YOUR name and email below.
  </font>
  </div>
  <br>
  
<div align="center">
  <font style="font-family: sans-serif;font-weight: bold;"size="5">Your Information</font>
  </div>
  <br>
  
  <div class="form-group" style="width: 280px">
  <label for="pwd"><font size="4"> First Name</font> <span style="color: red;font-size: 3 ">*</span> </label>
  <input type="text" name="reffirstname" id="reffirstname" class="form-control" value="@prefname"  required>
             <div id="reffname"><font color="red"> @reffname</font></div>
  
</div>
<br>

<div class="form-group" style="width: 280px">
  <label for="pwd"><font size="4"> Last Name</font> <span style="color: red;font-size: 3 ">*</span> </label>
  <input type="text" id="reflastname"  name="reflastname" class="form-control" value="@prelname" required>
               <div id="reflname"><font color="red"> @reflname</font></div>
  
</div>
<br>

<div class="form-group" style="width: 280px">
  <label for="pwd"><font size="4"> Email</font> <span style="color: red;font-size: 3 ">*</span> </label>
  <input type="email" id="refemail" name="refemail" placeholder="Ex:myemail@@example.com" value="@preemail" data-toggle="tooltip" data-placement="right" title="For each referral provided, we will request you to confirm your name and email address to ensure we are accurate in providing any referral fees related to this referral." class="form-control"  required>
               <div  id="refemail1"><font color="red"> @refEmail</font></div>

</div>
<br>
<div align="center">

<input type="submit" style="width: 280px"  class="btn btn-primary"   value="Submit"   > 
               <div align="center" id="submiterror"><font color="red"></font></div>

</div>


            
            	
            	<div style="padding-bottom:50px;"></div>
            	</div>
            	<div class="col-sm-3"></div>
            </div>
  </form>  
  </div>

<br><br>
<div>



</div>











<script type="text/javascript">
    $(function() {
        $.mask.definitions['~'] = "[+-]";

        $("#phonedatata").mask("999-999-9999");
        
    });
	
</script>

 <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 
    <script src="@routes.Assets.at("_resources/jquery.geocomplete.js")"></script>
    <script>
      $(function(){
        $("#geocomplete").geocomplete({
          map: ".map_canvas",
          details: "form",
          types: ["geocode", "establishment"],
        });

        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
        });
      });
    </script>

<script src="@routes.Assets.at("_resources/jquery.maskedinput.min.js")" type="text/javascript"></script>
 <script type="text/javascript">
 function validateForm() {
	 
	 var fname=document.forms["myForm"]["fname"].value;
	 var value=true;


	 try{
		if(!fname){
			document.getElementById("fname1").innerHTML="<p style=\"color:red\">FirstName Required</p>";
			document.getElementById("fname").focus();

			document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

			value=  false;
		}else if(fname.trim().length<2){
			
			
			document.getElementById("fname").focus();

			document.getElementById("fname1").innerHTML="<p style=\"color:red\">First Name Should More than one letter</p>";
			document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

			value=false;
			
			
		} else{
			if(!fname.match(/^[a-zA-Z ]*$/)){
				document.getElementById("fname1").innerHTML ="<p style=\"color:red\">Please Enter Aplhabets only.</p>";
				document.getElementById("fname").focus();
				document.getElementById("submiterror").innerHTML = "<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";


				value = false;

			}else{
				document.getElementById("fname1").innerHTML = "";

			}

		} 
		
		
		
		var lname=document.forms["myForm"]["lname"].value;
		 
		if(!lname){
			
			document.getElementById("lname1").innerHTML="<p style=\"color:red\">LastName Required</p>";
			document.getElementById("lname").focus();

			document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

			value=  false;
		} else if(lname.trim().length<2){
			
			
			document.getElementById("lname").focus();

			document.getElementById("lname1").innerHTML="<p style=\"color:red\">Last  Name Should More than one letter</p>";
			document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

			value=false;
			
			
		}
			else{
				
				if(!lname.match(/^[a-zA-Z ]*$/)){
					document.getElementById("lname1").innerHTML ="<p style=\"color:red\">Please Enter Aplhabets only.</p>";
					document.getElementById("lname").focus();
					document.getElementById("submiterror").innerHTML = "<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";


					value = false;

				}else{
					document.getElementById("lname1").innerHTML = "";

				}

			} 
			
			var phone=document.forms["myForm"]["phone"].value;
		 
		if(!phone){
			document.getElementById("phone1").innerHTML="<p style=\"color:red\">PhoneNumber Required</p>";
			document.getElementById("phonedatata").focus();

			document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

			value=  false;
		}	
		else{
	    	document.getElementById("phone1").innerHTML="";

		} 
	 
		var email=document.forms["myForm"]["email"].value;
		 
		if(!email){
			
			document.getElementById("email1").innerHTML="<p style=\"color:red\">Email Required</p>";
			document.getElementById("email").focus();

			document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

			value=  false;
		}else{
	    	document.getElementById("email1").innerHTML="";

		}
	 
	 
    var x = document.forms["myForm"]["email"].value;
    var x2 = document.forms["myForm"]["email2"].value;

    var pattern=/^([a-zA-Z0-9_.-])+@@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
    if(pattern.test(x)){         
		  
    }else{   
		document.getElementById("email1").innerHTML="<p style=\"color:red\"> Proper Email Id Required</p>";
		document.getElementById("email").focus();

		document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

		value=  false;
    }
    
    if(pattern.test(x2)){         
		  
    }else{   
		document.getElementById("error").innerHTML="<p style=\"color:red\"> Proper Email Id Required</p>";
		document.getElementById("email2").focus();

		document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

		value=  false;
    }
    if (x  != x2) {
document.getElementById("error").innerHTML="<p style=\"color:red\">Email have to match</p>";
document.getElementById("email2").focus();

document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

value=  false;
    }else{
    	document.getElementById("error").innerHTML="";

    }
    
    
    var refname=document.forms["myForm"]["reffirstname"].value;
	 
	if(!refname){
		
		document.getElementById("reffname").innerHTML="<p style=\"color:red\">Your First Name Required</p>";
		document.getElementById("reffirstname").focus();

		document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

		value=  false;
	}else if(refname.trim().length<2){
		
		
		document.getElementById("reffirstname").focus();

		document.getElementById("reffname").innerHTML="<p style=\"color:red\">First Name Should More than one letter</p>";
		document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

		value=false;
		
		
	}else{
	if(!refname.match(/^[a-zA-Z ]*$/)){
		document.getElementById("reffname").innerHTML ="<p style=\"color:red\">Please Enter Aplhabets only.</p>";
		document.getElementById("reffirstname").focus();
		document.getElementById("submiterror").innerHTML = "<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";


		value = false;

	}else{
		document.getElementById("reffname").innerHTML = "";

	}
	}
	
	var reflname = document.forms["myForm"]["reflastname"].value;

	if (!reflname) {

		document.getElementById("reflname").innerHTML = "<p style=\"color:red\">Your Last Name Required</p>";
		document.getElementById("reflastname").focus();

		document.getElementById("submiterror").innerHTML = "<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

		value = false;
	}  else if(reflname.trim().length<2){
		
		
		document.getElementById("reflastname").focus();

		document.getElementById("reflname").innerHTML="<p style=\"color:red\">Last Name Should More than one letter</p>";
		document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

		value=false;
		
		
	}else{
		if(!reflname.match(/^[a-zA-Z ]*$/)){
			document.getElementById("reflname").innerHTML ="<p style=\"color:red\">Please Enter Aplhabets only.</p>";
			document.getElementById("reflastname").focus();
			document.getElementById("submiterror").innerHTML = "<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";


			value = false;

		}else{
			document.getElementById("reflname").innerHTML = "";

		}
	}
	
	 var email=document.forms["myForm"]["refemail"].value;
	 
	 
	 
	
	 
		if(!email){
			
			document.getElementById("refemail1").innerHTML="<p style=\"color:red\">Your Email Required</p>";
			document.getElementById("refemail").focus();

			document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

			value= false;
		}else{
	    	document.getElementById("refemail1").innerHTML="";

		}
		
		 if(pattern.test(email)){         
			  
		    }else{   
				document.getElementById("refemail1").innerHTML="<p style=\"color:red\"> Proper Email Id Required</p>";
				document.getElementById("refemail1").focus();

				document.getElementById("submiterror").innerHTML="<p style=\"color:red\">There are errors on the form. Please fix them before continuing.</p>";

				value= false;
		    }
		
	  if(value){
			 $('#loading').show();
		 } 
		 return value;
	 }catch(err){ 
		 
		 alert("Error "+err);
			return false;
 
	 }
	 
		return false;
    
}
 
 </script>
</body>
</html>

