.custom-header{
margin-top:20px;
margin-bottom:20px;
}

#add{
border-radius: 3px;
border: #21759B solid 1px;
border-color: #21759B #21759B #1E6A8D;
background: #21759B;
background-image: -webkit-gradient(linear, left top, left bottom, from(#2A95C5), to(#21759B));
background-image: -webkit-linear-gradient(top, #2A95C5, #21759B);
background-image: -moz-linear-gradient(top, #2A95C5, #21759B);
background-image: -o-linear-gradient(top, #2A95C5, #21759B);
background-image: linear-gradient(to bottom, #2A95C5, #21759B);
color: white;
font-weight: normal;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
font-size: 13px;
line-height: 1em;
padding: 6px 11px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(120, 200, 230, 0.5) inset;
cursor: pointer;
text-align: center;
text-decoration: none;
}
#cname{
width:110px;
height:25px;
}
#update,#update-lead{
margin-left:15px;
height:24px;
width:24px;
border: #fabc09 solid 0px;
background: url('update.png') no-repeat; 
cursor: pointer;
text-decoration: none;
}

#rname,#tname{
margin-left:-3px;
width:120px;
height:25px;
}
#edit{
margin-left:15px;
}

#myselect {
   width: 120px;
   height: 34px;
   overflow: hidden;
   background: url(update.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   }
.field{
width:50px;
}
.rckbox{
width:150px;
}
.fieldname{
width:180px;
}
.main-table{
width:200px;
}
.action{
width:50px;
}
.field_edit{
width:60px;
}
.field_type{
width:180px;
}