.icon-48-socialnetworkss {
      background-image: url(../images/l_socialnetworkss.png);
      padding-left:60px!important;
}

.icon-48-socialnetworks {
      background-image: url(../images/l_socialnetworkss.png);
      padding-left:60px!important;
}

